.desktop-1 {
  position: relative;
  background-color: var(--on-primary);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
