.section-7-inner {
  position: absolute;
  top: 512px;
  left: 0;
  background-color: var(--on-primary);
  width: 1440px;
  height: 512px;
  overflow: hidden;
}
.frame-child46 {
  position: relative;
  max-height: 100%;
  width: 33px;
  object-fit: cover;
}
.portfolio19 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.portfolio18,
.vector-parent8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.portfolio18 {
  flex: 1;
  flex-shrink: 0;
}
.vector-parent8 {
  align-self: stretch;
  gap: var(--gap-7xl);
}
.case-solution6 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 60px;
}
.case-solution-wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--headline-h3-poppins-50px-1-size);
  font-family: var(--subtitle-2-poppins-20);
}
.frame-parent39 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.links-child4 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 14.5px;
  object-fit: cover;
}
.all37 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.all36 {
  color: var(--secondary);
}
.all36,
.all38 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.links-fill6,
.title10 {
  display: flex;
  align-items: flex-end;
}
.links-fill6 {
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.title10 {
  position: absolute;
  top: 47px;
  left: 0;
  width: 1440px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
}
.frame-child47 {
  position: absolute;
  top: calc(50% - 328px);
  left: calc(50% - 328px);
  width: 656px;
  height: 656px;
  object-fit: cover;
}
.image-grid-inner4 {
  position: relative;
  width: 656px;
  height: 656px;
}
.building-square-child19,
.building-square-child20 {
  position: absolute;
  left: 0;
  width: 328px;
  height: 328px;
  object-fit: cover;
}
.building-square-child19 {
  top: 0;
}
.building-square-child20 {
  bottom: 0;
}
.building-square-child21,
.frame-child49 {
  position: absolute;
  right: 0;
  width: 328px;
  height: 328px;
}
.building-square-child21 {
  bottom: 0;
  object-fit: cover;
}
.frame-child49 {
  top: 0;
  background-color: var(--color-lightslategray-100);
}
.button-arrow105 {
  position: relative;
  width: 49.7px;
  height: 49.7px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.school29 {
  flex: 1;
  position: relative;
  line-height: 29.82px;
}
.school28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.school30 {
  flex: 1;
  position: relative;
  line-height: 23.85px;
}
.school-parent5,
.school-text7 {
  display: flex;
  align-items: flex-start;
}
.school-text7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--font-size-base-9);
  color: var(--on-primary-container);
  font-family: var(--body-1-monteserrat-16);
}
.school-parent5 {
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.button-arrow-parent16 {
  position: absolute;
  bottom: 22.8px;
  left: 28.8px;
  width: 168px;
  height: 53.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 19.88px;
}
.rectangle-parent5 {
  position: absolute;
  top: 0;
  right: 0;
  width: 328px;
  height: 328px;
  overflow: hidden;
}
.image-grid5 {
  position: absolute;
  top: 272px;
  left: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lgi-9);
  font-family: var(--subtitle-2-poppins-20);
}
.section-74 {
  align-self: stretch;
  position: relative;
  background-color: var(--background);
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--body-1-monteserrat-16-size);
  color: var(--on-primary);
  font-family: var(--body-1-monteserrat-16);
}
