.stroke-linear-child22 {
  position: relative;
  max-height: 100%;
  width: 50px;
  object-fit: cover;
}
.stroke-linear24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.we-can-do24 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 800;
}
.title-section-83,
.we-can-do-it24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title-section-83 {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xs);
}
.improve-your-experience24 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 60px;
}
.improve-your-experience-with-u-wrapper22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--headline-h3-poppins-50px-1-size);
  font-family: var(--subtitle-2-poppins-20);
}
.titlesection24 {
  position: absolute;
  top: 100px;
  left: 398px;
  width: 644px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--body-1-monteserrat-16-size);
  color: var(--on-secondary);
  font-family: var(--body-1-monteserrat-16);
}
.card-user-child11,
.quote-left-icon14 {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.quote-left-icon14 {
  position: absolute;
  margin: 0 !important;
  top: 253px;
  left: 252px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.card-user-child11 {
  position: relative;
  border-radius: 50%;
}
.andrew-rathore14,
.executive14 {
  flex: 1;
  position: relative;
  line-height: 30px;
}
.executive14 {
  line-height: 24px;
}
.role14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-1-monteserrat-16-size);
  color: var(--on-primary-container);
  font-family: var(--body-1-monteserrat-16);
}
.desc-child12 {
  position: relative;
  max-height: 100%;
  width: 36.5px;
  object-fit: cover;
}
.staroutline-1-icon14 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.stars14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.desc14 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.card-user14,
.mornings-of-spring-which-i-enj-wrapper12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.card-user14 {
  align-items: center;
  gap: var(--gap-11xl);
}
.mornings-of-spring-which-i-enj-wrapper12 {
  align-items: flex-start;
  text-align: justify;
  font-size: var(--body-1-monteserrat-16-size);
  color: var(--on-secondary);
  font-family: var(--body-1-monteserrat-16);
}
.card-content76 {
  align-self: stretch;
  gap: var(--gap-8xl);
  z-index: 1;
}
.card-client12,
.card-content76,
.card-content77 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-client12 {
  position: absolute;
  top: 335px;
  left: 65px;
  background-color: var(--on-primary);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  width: 421px;
  padding: var(--padding-51xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.card-content77 {
  align-self: stretch;
  gap: var(--gap-8xl);
  z-index: 0;
}
.quote-left-icon15 {
  position: absolute;
  margin: 0 !important;
  top: 253px;
  left: 252px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.card-client13,
.card-client14 {
  position: absolute;
  top: 335px;
  left: 510px;
  background-color: var(--on-primary);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  width: 421px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-51xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.card-client14 {
  left: 955px;
}
.section-84 {
  align-self: stretch;
  position: relative;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--subtitle-2-poppins-20-size);
  color: var(--primary);
  font-family: var(--subtitle-2-poppins-20);
}
