* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: popins;
}

bbody {
  background-color: #002240;
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.main-body {
  text-align: center;
  background-color: #002240;
}

.linear-stroke {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.we-can-do-it{
  margin-top: 15px;
  line-height: 24px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 24px;
  color: #fedb03;
}

.Improve{
  margin-top: 20px;
  letter-spacing: -0.01em;
  line-height: 60px;
  font-weight: bold;
  color: white;
  font-size: 50px;
  font-family: poppins;
  
}

.card{
  display: flex;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 28px;
  margin: 20px;
  width: 643px;
  overflow: hidden;
}

.card2{
  display: flex;
  background-color: #022a4d;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 28px;
  margin: 0px 20px 20px 20px;
  width: 643px;
  overflow: hidden;
  color: white;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card-img{

  background: linear-gradient(90deg, #fedb03, #fea903);
  width: 100px;
  height: 100px;
  padding: 30px; 
  margin: auto;
}

.card-img2{
  background: #12395c;
  width: 100px;
  height: 100px;
  padding: 30px; 
  margin: auto;
}

.card-heading{
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.card-paragraph{
  display: flex;
  justify-content: flex-start;
  line-height: 24px;
  font-size: 16px;
}

.line{
  background-color: white;
  height: 1px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  
}

@media screen and (max-width: 480px) {
  .card {
      width: 380px;
  }
}

@media screen and (max-width: 480px) {
  .card2 {
      width: 380px;
  }
  .Improve{
      font-size: 35px;
  }
  
}

